{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.yetanalytics/flint {:mvn/version "0.3.0" :exclusions [org.clojure/clojure org.clojure/clojurescript]}
        org.clojure/data.json {:mvn/version "2.5.0"}
        org.clojure/test.check {:mvn/version "1.1.1"}
        com.outpace/config {:mvn/version "0.13.5"}
        ont-app/sparql-client {:mvn/version "0.2.2"}}
 :aliases
 {:run-m {:main-opts ["-m" "uniwuni.rdf-archiver"]}
  :run-x {:ns-default uniwuni.rdf-archiver
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.9.6"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :dev {:extra-deps {org.clojure/test.check {:mvn/version "0.9.0"}}}}}
